.final {
  background-color: rgb(38, 50, 56);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2rem 9%;
}

.contacto{
  display: flex;
  flex-direction: column;
  width: 243.62px;
  line-height: 20px;
  font-size: 11px;
  gap: 30px;
}

.enlaces{
  display: flex;
  width: 243.62px;
  gap: 40px;
  margin-right: 5%;
}

.enlaces h3{
  font-size: 14px;
}

.enlaces h5{
  line-height: 25px;
  width: 112px;
  font-weight: 400;
  font-size: 11px;
}

.principal{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.soporte{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

