<app-header></app-header>
<app-progress-bar [step]="2"></app-progress-bar>

<section class="rondaPreguntas">
  <h2>Ronda de Preguntas</h2>
  <p>A continuación tiene diferentes cuestionarios sobre el caso de estudio presentado, que le permitirán evaluar sus conocimientos.</p>
  <!-- Add more details as necessary -->
</section>
<section class="questions-list" *ngIf="tests.length > 0">
  <div class="question-item" *ngFor="let test of tests">
    <div class="question-title">{{ test.title }}</div>
    <button class="test-button"
            [ngClass]="{'completado': test.state === 'completado'}"
            (click)="realizarTest(test.id, simulationId)">
      {{ test.state === 'completado' ? 'Test Realizado' : 'Realizar Test' }}
    </button>
  </div>
  <div class="aling-button">
    <button class="next-button" (click)="irAStep3()">Siguiente</button>
  </div>
</section>
