
/* Seccion 1, Home */


.home{
  display: flex;
  align-items: center;
  /* min-height: 100vh; */
  justify-content: space-around;
  background-color: rgba(245, 247, 250, 1);
  height: 416.95px;
  /* height: 416.95px); */


}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgba(4, 65, 112, 1);
  padding: .9rem 3.5rem;
  /* padding: 9.74px, 22.27px, 9.74px, 22.27px; */
  cursor: pointer;
  font-size: 11.14px;

}

.btn:hover{
  background:var(--blue);
  color: rgba(4, 65, 112, 1);
}

.img{
  margin-left: 5%;
}

.grafico-1{

  max-width: 272.16px;
}

.home .content h1{
  /* font-size: 44.55px; */
  font-size: 500%;
  color: rgba(77, 77, 77, 1);
}

.home .content span{
  font-size: 30px;
  color: rgba(4, 65, 112, 1);
  padding: 1rem 0;
  line-height: 1.5;
}

/* Seccion 2, Info */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 9%;
  margin-top: 10px;
}

.info .titulo {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.info .titulo h2{
  font-size: 25px;
}

.info .contenido {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15%;
  margin-bottom: 15px;
}


.info .contenido div {
  flex: 1;
  text-align: center;
  padding: 22.27px;
  /* padding: 16.71px, 22.27px, 16.71px, 22.27px; */
}

.info .contenido h3{
  font-size: 20px;

}

.info p{
  font-size: 11px;
  font-weight: 400;
  line-height: 13.92px;
  text-align: center;

}
.proyecto img {
  padding-bottom: 15px;
  width: 60px;
}

.proyecto h3 {
  padding-bottom: 15px;
}

.proyecto p {
  padding-bottom: 15px;
}

/* Seccion 3, Estadistica */

.estadistica{
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 247, 250, 1);
}

.abc{
  display: flex;
  flex-direction: column;
  width: 475px;
  gap: 28px;
  margin-top: 10px;

}

.abc h3{
  font-size: 19px;
}

.abc p{
  font-size: 11px;
}
.abc img{
  width: 60px;
}
.numeros{
  display: flex;
  justify-content: space-around;

}

.iconos{
  display: flex;
}

.cursos{
  display: flex;
  justify-content: center;
}

.etiquetas{
  display: flex;
  flex-direction: column;
}

.subtitulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 284px;
}
.subtitulo h2{
  font-size: 25px;

}

/* Seccion 3 tambien llamada Seccion 3 */

.seccion3{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.informacion{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  justify-content: space-around;
}

.informacion h3{
  font-size: 25px;
}

.informacion p{
  font-size: 11px;
  font-weight: 400;
  line-height: 13.92px;
  text-align: left;

}

/* Seccion 4 tambien llamada Seccion 4 */
.seccion4{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  background-color: rgba(245, 247, 250, 1);
}

.detalle{
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detalle p{

  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
}

.detalle span{

  font-size: 14px;
  color: rgb(4, 65, 112);
  font-weight: 600;
  line-height: 19.5px;
}

.detalle h5{
  font-size: 11.14px;
  color:rgba(137, 147, 158, 1);
  font-weight: 400;
  line-height: 16.71px;
;
}
/* Seccion 5 tambien llamada Seccion 5 */

.seccion5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: center;

}

.titulo5 {
  width:772.64px;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 7%;


}

.titulo5 h2{
  font-size: 25px;
}

.titulo5 p{
  justify-content: center;
  font-size: 11px;
  width: 437px;
  margin: auto;

}

.contenido5 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  gap: 7%;
  margin-bottom: 30px;
  text-align: center;
}

.contenido5 p{
  font-size: 14px;

}

.contenido5 h3{
  font-size: 14px;
  color: rgba(113, 113, 113, 1);

}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-simulacion{
  width: 256.15px;
  height: 260px;
}
.img-simulacion img{
  width: 100%;
  height: auto;
}
.slide a {
  padding-bottom: 15px;
  text-decoration: none;
  color: #044170;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.slide p {
  padding-bottom: 15px;
}

.contenedor-simulacion{
  display: flex;
  flex-direction: column;
  gap:12px ;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  height: 100px;
  background-color: rgb(245, 247, 250);
  position: absolute;
  margin-top: 140px;
  cursor: pointer;
}
