.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
  width: 772.64px;
  gap: 15px;
  color: rgba(77, 77, 77, 1);
}

.titulo p {
  width: 437.13px;
  line-height: 17px;
  color: rgba(113, 113, 113, 1);
  font-size: 11.14px;
}

.simulacion {
  background-color: rgba(245, 247, 250, 1);
  margin-bottom: 20px;
  height: 305px;
  align-content: center;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 772.64px;
}

.simulacion h5 {
  font-size: 18px;
  color: rgba(113, 113, 113, 1);
}

.simulacion p {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 11px;
  color: rgba(113, 113, 113, 1);
  line-height: 18px;
}

.simulacion button {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgba(4, 65, 112, 1);
  padding: 0.9rem 2rem;
  cursor: pointer;
  font-size: 11.14px;
}

.rating {
  display: flex;
  gap: 10px;
}

/* Estilos para el modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 1000;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Estilos específicos para los botones dentro del modal */
.modal button {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgba(4, 65, 112, 1);
  padding: 0.9rem 2rem;
  cursor: pointer;
  font-size: 11.14px;
  margin-right: 10px; /* Espacio entre botones */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

.modal button:hover {
  background-color: rgba(4, 65, 112, 0.8); /* Cambia el color al pasar el cursor */
}
