<div class="video-container" *ngIf="simulaciones" >
  <iframe src="https://youtu.be/PfxdVO-IRE8"
          width="640" height="360" frameborder="0" scrolling="no" allowfullscreen
          title="pythonProject – main.py 2023-01-23 21-50-48.mp4">
  </iframe>
</div>

<div *ngIf="simulaciones">
  <h2>{{ simulaciones.nombre }}</h2>
  <span>{{ simulaciones.descripcion }}</span>
</div>

<div *ngIf="simulaciones">
  <button *ngIf="simulaciones.archivo" (click)="descargarArchivo(simulaciones.archivo)">Descargar Documento</button>
  <span *ngIf="!simulaciones.archivo">No hay documento disponible para descargar.</span>
</div>
