<app-header></app-header>
<app-progress-bar [step]="1"></app-progress-bar>
<section class="video">
  <div class="video-container" *ngIf="simulations" >
    <iframe src="https://utpl-my.sharepoint.com/personal/sjjumbo3_utpl_edu_ec/_layouts/15/embed.aspx?UniqueId=032ad334-20b5-4cd5-bb83-1335322a1813&embed=%7B%22hvm%22%3Atrue%2C%22ust%22%3Atrue%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="2024-04-17 10-29-11.mkv"></iframe> </div>
  <div class="descripcion" *ngIf="simulations">
    <div class="titulo">
      <h2>{{ simulations.name }}</h2>
      <div class="descarga">
        <img src="assets/img/Descargar.svg" alt="Boton descarga" >
        <div *ngIf="simulations">
          <button class="buttonArc" *ngIf="simulations.archive" (click)="descargarArchivo(simulations.archive)">Descargar Documento</button>
          <span *ngIf="!simulations.archive">No hay documento disponible para descargar.</span>
        </div>
      </div>

    </div>

  <span>{{ simulations.description }}</span>
  </div>



</section>
<div class="aling-button" *ngIf="simulations">
  <button class="next-button" (click)="irAStep2()">Siguiente</button>
</div>
<app-footer></app-footer>
