.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.video-container inframe{
  width: 300%;
  height: 300%;
}

.titulo{
  display: flex;

}

.titulo img{
  width: 42px;
  height: 34px;
}

.titulo button{
  width: 53px;
  height: 30px;
  font-size: 10px;
  box-shadow: none;

}

.aling-button{
  display: flex;
  justify-content: flex-end;
  margin-right: 10em;
  margin-bottom: 10px;
}
.next-button{
  width:95px;
  height: 36px;
  border: 2px solid #044170;
  border-radius: 5px;
  cursor: pointer;
}

.buttonArc{
  cursor: pointer;
  background-color: white;
  border: none;
}


.descarga{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.descripcion h2{
  height: 64px;
  font-size: 30px;

}

.descripcion span{
  line-height: 24px;
}

.video-detalles{
  border-radius: 10px;
  border: 2px solid rgba(4, 65, 112, 1);

}
