<app-header></app-header>
<section class="video">
  <div class="video-container" *ngIf="simulaciones" >
  <iframe [src]="videoUrl"
          width="740" height="460" frameborder="0" scrolling="no" allowfullscreen
          title="pythonProject – main.py 2023-01-23 21-50-48.mp4">
  </iframe>
  </div>

  <div class="descripcion" *ngIf="simulaciones">
    <div class="titulo">
      <h2>{{ simulaciones.nombre }}</h2>
      <div class="descarga">
        <img src="assets/img/Descargar.svg" alt="Boton descarga" >
        <div *ngIf="simulaciones">
          <button *ngIf="simulaciones.archivo" (click)="descargarArchivo(simulaciones.archivo)">Descargar Documento</button>
          <span *ngIf="!simulaciones.archivo">No hay documento disponible para descargar.</span>
        </div>
      </div>

    </div>

  <span>{{ simulaciones.descripcion }}</span>
  </div>

</section>
<app-footer></app-footer>
