<app-header></app-header>
<app-progress-bar [step]="2"></app-progress-bar>

<section class="questions-section">
  <div class="informacion-pregunta">
    <h2>{{ testTitle }}</h2>
    <p >{{testDescription}}</p>
  </div>

  <div *ngIf="preguntas.length > 0">
    <div class="questions-container">
      <div class="specific-question-title">
        <h3>Pregunta</h3>
        <div class="question">{{ preguntas[preguntaActualIndex].title }}</div>
      </div>
      <div class="options-container">
        <h3>Opciones</h3>
        <div class="options"
             *ngFor="let option of preguntas[preguntaActualIndex].options"
             [ngClass]="{'selected': preguntas[preguntaActualIndex].selectedOptions!.includes(option)}"
             (click)="seleccionarOpcion(preguntas[preguntaActualIndex], option)">
          {{ option.text }}
        </div>
      </div>
    </div>

    <div class="aling-button">
      <button *ngIf="preguntaActualIndex > 0" (click)="anteriorPregunta()">Anterior</button>
      <button *ngIf="preguntaActualIndex < preguntas.length - 1" (click)="siguientePregunta()">Siguiente</button>
      <button *ngIf="preguntaActualIndex === preguntas.length - 1" (click)="finalizarTest()">Finalizar</button>
    </div>
  </div>
</section>
