<h1>{{ testTitle }}</h1>
<div *ngIf="preguntas.length > 0">

  <h2>{{ preguntas[preguntaActualIndex].title }}</h2>
  <ul>
    <li *ngFor="let option of preguntas[preguntaActualIndex].options">{{ option.text }}</li>
  </ul>
  <button (click)="anteriorPregunta()" [disabled]="preguntaActualIndex === 0">Anterior</button>
  <button (click)="siguientePregunta()" [disabled]="preguntaActualIndex === preguntas.length - 1">Siguiente</button>
  <button (click)="finalizarTest()" *ngIf="preguntaActualIndex === preguntas.length - 1">Finalizar</button>
</div>

