<app-header></app-header>
<section class="questions-section">
  <div class="informacion-pregunta">
    <h2>{{ testTitle }}</h2>
    <p>The Nextcent blog is the best place to read about the latest membership insights, trends and more. See who's joining the community, read about how our community are increasing their membership income and lot's more.</p>
  </div>

  <div *ngIf="preguntas.length > 0">
    <div class="questions-container">
      <div class="specific-question-title">
        <h3>Pregunta</h3>
        <div class="question">{{ preguntas[preguntaActualIndex].title }}</div>
      </div>
      <div class="options-container">
        <h3>Opciones</h3>
          <div class="options" *ngFor="let option of preguntas[preguntaActualIndex].options">{{ option.text }}</div>
      </div>
    </div>

    <div class="aling-button">
      <button *ngIf="preguntaActualIndex > 0" (click)="anteriorPregunta()">Anterior</button>
      <button *ngIf="preguntaActualIndex < preguntas.length - 1" (click)="siguientePregunta()">Siguiente</button>
      <button *ngIf="preguntaActualIndex === preguntas.length - 1" (click)="finalizarTest()">Finalizar</button>
    </div>

  </div>
</section>

<app-footer></app-footer>

