.informacion-pregunta{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.informacion-pregunta h2{
  font-size: 25px;
}

.options.selected {
  background-color: #3F88C5;
  color: white;
}

.informacion-pregunta p{
  width: 438px;
  font-size: 11px;
}

.questions-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 414px;
  padding-top: 15px;
  gap: 10px;
}

.question{
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  height: 38px;
  font-size: 17px;
  width: 552px;
}

.options{
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  height: 38px;
  font-size: 17px;
  width: 552px;
  cursor: pointer;
}

.questions-container h3{
  color: rgba(118, 118, 118, 1);
  font-size: 19px;

}
.specific-question-title{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.options-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aling-button{
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;

}
.aling-button button{
  width:95px;
  height: 36px;
  border: 2px solid #044170;
  border-radius: 5px;
  cursor: pointer;

}
